# =======================
# DVC
# =======================
!*.dvc
!.dvc/
!dvc.yaml
!dvc.lock

# =======================
# Données versionnées avec DVC
# =======================
data/raw/image_test
data/raw/image_train
data/raw/images_low.zip
data/raw/X_test_update.csv
data/raw/X_train_update.csv
data/raw/Y_train_CVw08PX.csv
data/predictions/predictions.json
data/preprocessed/*

!data/raw/*.dvc
!data/preprocessed/*.dvc
!data/predictions/*.dvc
!data/raw/**/*.dvc

# =======================
# Modèles
# =======================
models/*.h5
models/*.json
models/*.pkl
!models/*.dvc

# =======================
# Environnements et dépendances
# =======================
.env
.env.*
env/
.venv/
.Python

# =======================
# Caches, compilés, logs
# =======================
__pycache__/
*.py[cod]
.mypy_cache/
.cache
*.log
logs/

# =======================
# Fichiers systèmes
# =======================
.DS_Store

# =======================
# IDEs
# =======================
.vscode/
.idea/
.spyproject/

# =======================
# Jupyter Notebooks
# =======================
.ipynb_checkpoints/

# =======================
# Build et packaging
# =======================
build/
dist/
*.egg-info/
.eggs/
*.egg
develop-eggs/
downloads/
lib/
lib64/
parts/
sdist/
var/
.installed.cfg

# =======================
# PyInstaller
# =======================
*.manifest
*.spec

# =======================
# Couverture et tests
# =======================
htmlcov/
.tox/
.coverage
.coverage.*
nosetests.xml
coverage.xml
*.cover

# =======================
# Vim swap
# =======================
*.swp
*.swo
